<div class="card-feel">
    <div *ngIf="_currentWeather">
        <div class="loc-container txt-cntr" bold><span class="city">{{_currentWeather?.name}}</span></div>
        <div><img src='//openweathermap.org/img/w/{{_currentWeather?.weather[0]?.icon}}.png' alt={{_currentWeather?.weather[0]?.main}}><i class="temp">{{math.round(_currentWeather?.main?.temp) }}<sup>°</sup></i></div>
        <div>{{_currentWeather?.weather[0]?.description|titlecase}} </div>
        <div><span class="max">High </span><span>{{math.round(_currentWeather?.main?.temp_max) }}<sup>°</sup></span> <span class="min">Low </span><span>{{math.round(_currentWeather?.main?.temp_min) }}<sup>°</sup></span>
        </div>
        <div><span class="humd">Humidity </span><span>{{_currentWeather?.main?.humidity}}%</span></div>
        <div class="txt-cntr forecastlnk">
            <a class="nav-link" (click)="goToForecast(_currentWeather.name)"> View Forecast</a>
        </div>
    </div>
</div>